@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background-color: black;
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222831;
    min-height: 200vh;
}

header{
    display: flex;
    color: #FFFDDE;
    position: fixed;
    right: 0;
    left: 0;
    justify-content: space-between;
    background-color: #222831;
    align-items: center;
}

header ul{
    list-style: none;
    display: flex;
    padding: 25px;
}

header ul li a{
    color: #FFFDDE;
    margin: 3px;
    position: relative;
    text-decoration: none;
    padding: 7px;
    background-clip: padding-box;
    font-weight: bold;
}


.kata{
    margin-left: 30px;
}

.kata h1{
    font-family: Copperplate, Papyrus, fantasy;
}

a:hover {
    color: rgb(96, 230, 185);
    border-width: 0 0 3px;
    border-style:solid;
}

a:active {
    color: bisque;
  }

#itsme{
    color: #FFFDDE;
    display: flex;
    justify-content: space-between;
    padding: 130px 100px 50px 100px;
    background-image: linear-gradient(180deg,#222831, #393E46, rgb(77, 77, 73));
    right: 0;
}

figcaption{
    text-align:center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10%;
  }
.left{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 10px;
    width: 100%;
    margin-left: -40px;
    box-shadow: 2px 2px 1px 1px #00ADB5;
    padding-bottom: 10px;
}

.left h2{
    margin-top: 30px;
}

.left h1{
    margin-bottom: 10px;
}

.right h1{
    margin-bottom: 6px;
    border-width: 0 0 3px;
    border-style:solid;
    padding-bottom: 15px;
}

.right{
    width: 100%;
    margin: auto;
    margin-top: 0px;
    margin-left: 100px;
    text-align: center;
}

.right p{
    font-size: 180%;
    margin-top: 50px;
    font-weight: bolder;
}
.clear{
    clear: left;
}

.inside{
    text-align: center;
    align-items: center;
    padding: 30px 40px;
    
}
.inside img{
    border-radius: 30px;
    margin-top: 30px;
}
.inside h1, #travel h1{
    margin-top: 100px;
    margin-bottom: 30px;
    color: #FFFDDE;
    padding-left: 1px;
    padding-bottom: 40px;
    border-width: 0 0 3px;
    border-style:solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

button{
    padding: 10px 15px;
    border-radius: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFDDE;
    font-weight: bolder;
    background-image: linear-gradient(160deg,#00ADB5, #41516b, #273242);
    cursor: pointer;
    display: inline-block;
}

button:hover {
    background-image: linear-gradient(260deg,#00ADB5, #41516b, #273242);
    color: #FFFDDE;
  }
#project{
    background-image: linear-gradient(180deg,rgb(77, 77, 73), #393E46, #222831);
}

#article{
    background-image: linear-gradient(180deg,#222831, #393E46, rgb(77, 77, 73));
}

#travel{
    align-items: center;
    text-align: center;
    background-image: linear-gradient(180deg,rgb(77, 77, 73), #393E46, #222831);
}

 #travel p{
    font-family: 'Quicksand', sans-serif;
    color: #FFFDDE;
    font-size: 180%;
    font-weight: bolder;
    
}

.w3-content{
    align-items: center;
    color: #FFFDDE;
}

.w3-content img{
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: 700px;
}

.w3-center button {
    padding: 5px;
    font-size: smaller;
    border-radius: 10%;
    margin-left: 2px;
    margin-right: 2px;
    background-image: none;
    color: #FFFDDE;
}

.w3-section button{
    padding: 10px;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    color: #FFFDDE;
}

#contact{
    margin-left: auto;
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    padding: 100px ;
}
.dalam{
    border-color: #00ADB5;
    border-style: dashed;
}
.logo{
    text-align: center;
}
.logo li{
    list-style: none;
    margin: 20px 40%;
    padding: 5px;
    background-color: #00ADB5;
    border-radius: 10px;

}

.logo ul{
    padding:0;
    text-align: center;
}

#click{
    display: none;
}

footer{
    text-align: center;
    color: #ffffff;
    padding: 80px;
    background-color: #102427;
}

@media screen and (max-width: 710px) {

    header{
        font-size: smaller;
    }
}


@media screen and (max-width: 670px) {

    main{
        margin-left: -10%;
        margin-right: -10%;
    }
    body{
        font-size: smaller;
    }
    .kata{
        padding-right: 0%;
    }
    .nav nav ul{
        position: fixed;
        left: 0;
        top: 74px;
        height: 100vh;
        width: 100%;
        display: block;
        background: #102427;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav nav ul li{
        margin: 40px 0;
        text-align: center;
    }

    .nav ul li a{
        font-size: 20px;
    }
    #itsme{
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
    }
    .left{
        margin: 0;
        box-shadow: none;
        padding: 0;
        right: 0;
        left: 0;
    }
    .right{
        margin: 0;
        right: 0;
        left: 0;
        margin-top: 50px;
    }

    .right p{
        font-size: medium;
    }

    .left h2{
        font-size:medium;
    }

    .logo img{
        outline: 3px dashed #FFFDDE;
        border-radius: 50%;
        width: 100%;
    }
    
    .container {
        display: inline-block;
        cursor: pointer;
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
        transition: 0.4s;
      }
      
      /* Rotate first bar */
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
      }
      
      /* Fade out the second bar */
      .change .bar2 {
        opacity: 0;
      }
      
      /* Rotate last bar */
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
      }

      #click:checked ~ .nav nav ul{
          margin-left: 0%;
          float: left;
          width: 50%;
      }
    
      #click{
        display: none;
    }

    
}
